
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(#ffd55c 40%, #5a95ff 50%);
}

.app{
    font-family: 'Poppins', sans-serif;
    /* width: min(95vw,31.25em); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    padding: 2em 2.5em;
    background-color: #f1f8fb;
    box-shadow: 0 1em  2em rgba(0, 0, 0, 0.1);
    border-radius: 0.8em;
}
#wrapper{
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}
#wrapper input {
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: 0.9em;
    /* border: ; */
    border: 2px solid #d1d3d1;
    padding: 1em 0.5em;
    border-radius: 0.6em;
    height: 2.5rem;
}
#wrapper input:focus{
    outline: #5a95ff;
    border-color: #5a95ff;
}
#wrapper button{
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    background-color: #5a95ff;
    border: none;
    outline: none;
    cursor: pointer;
    height: 2.5rem;
}
#wrapper button:hover{
   transform: scale(1.1);
}
#error{
    text-align: center;
    position: relative;
    /* width: 30%; */
   
    background-color: #ffffff;
    color: #ff5c5c;
    margin-top: 1em;
    padding: 1em 0;
    border-radius: 0.8em;
    
} 